<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<head>
  <link rel="icon" type="image/png" href="/photos/logoL&F.png">
  <title>Site Theodore</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <header>
      <div class="nav-links">
        <a class="nav-link" href="/">My Wealth Conciergerie</a>
        <a class="nav-link" href="/infos">Infos</a>
        <a class="nav-link" href="/services">Services</a>
        <a class="nav-link" href="/ressources">Ressources</a>
      </div>
      <img src="/photos/logoL&F.png" alt="baniere" class="logo-gauche">
      {{!-- <img src="/photos/logo-test.png" alt="baniere" class="logo-droite"> --}}

    </header>
  </div>


  {{{body}}}

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Mentions légales</h3>
        <ul>
          <li><a href="/mentions-legales">Mentions légales</a></li>
          <li><a href="/politique-confidentialite">Politique de confidentialité</a></li>
          <li><a href="/conditions-utilisation">Conditions d’utilisation</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Contact</h3>
        <p>Email : <a href="mailto:contact@tonsite.fr">?(contact@tonsite.fr)?</a></p>
        <p>Téléphone : <a href="tel:+33123456789">?(+32 1 23 45 67 89)?</a></p>
        <p>
          <a href=""><img src="/photos/logoFB.png" alt=""></a>
          <a href=""><img src="/photos/logoInsta.png" alt=""></a>
          <a href=""><img src="/photos/logoLinkedIn.png" alt=""></a>
        </p>
      </div>

      <div class="footer-section">
        <h3>À propos</h3>
        <p>Adresse : ?(19 rue Exemple, 1000 Bruxelles)?</p>
        <p>
          Site réalisé par
          <a href="https://www.instagram.com/mike_pourbaix/#" target="_blank" rel="noopener noreferrer">
            <strong>Mike Pourbaix</strong>
          </a>
        </p>
        <p>© 2025 - Tous droits réservés.</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Merci de votre visite 🌍</p>
    </div>
  </footer>



</body>

</html>