<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<head>
  <link rel="icon" type="image/png" href="/photos/logo-test.png">
  <title>Site Theodore</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <header>
      <div class="nav-links">
        <a class="nav-link" href="/">L&F Consulting</a>
        <a class="nav-link" href="/infos">Infos</a>
        <a class="nav-link" href="/services">Services</a>
        <a class="nav-link" href="/ressources">Ressources</a>
      </div>
      <img src="/photos/logo-test.png" alt="baniere" class="logo-gauche">
      {{!-- <img src="/photos/logo-test.png" alt="baniere" class="logo-droite"> --}}

    </header>
  </div>


  {{{body}}}

  <footer>
    

    Site réalisé par Mike Pourbaix.
  </footer>

</body>

</html>